<% provide(:title, 'Edit Club') %>

<h2>Edit Club</h2>

<%= form_for @club, method: :put do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.submit "Confirm Edit" %>
  </p>
<% end %>
