<% provide(:title, 'Clubs') %>

<h2>Clubs</h2>

<div>
  <%= link_to 'Add a Club', new_club_path %>
</div>

<div>
  <%= form_tag clubs_path, method: :get, enforce_utf8: false do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search Courses', name: nil %>
  <% end %>
</div>

<div id="all-clubs">
  <% @clubs.each do |club| %>
    <div class="club-details">
      <p>
        <%= link_to club.name, club_path(club) %>, <%= club.city %>, <%= club.state %>
      </p>
      <p>
        Tees added: <%= club.tees.count %> for ClubAppID#<%= club.id %>
      </p>
      <p>
        Added: <%= club.created_at.strftime('%b %d, %Y') %>
      </p>
    </div>
  <% end %>
</div>
