<table id="tee-table">
  <tr class="tees-table-header">
    <th>Tee Name</th>
    <th>Rating</th>
    <th>Slope</th>
    <!-- <th>F9 Rating</th>
    <th>F9 Slope</th>
    <th>B9 Rating</th>
    <th>B9 Slope</th>
    <th>Bogey Rating</th> -->
    <th>Gender</th>
  </tr>
  <% list_tees_in_color_order(club).each do |tee| %>
  <tr class="tees-table-data">
    <td class="tee-colorname"><%= tee.color.capitalize %>
      <%= link_to '(Edit)', edit_club_tee_path(club, tee), class: 'small-link-text' %>
      <!-- tees#delete action placeholder -->
      <!-- Not currently added due to issues relating to orphaned rounds after tee deletion -->
    </td>
    <td class="tee-data"><%= tee.usga_course_rating_18 %></td>
    <td class="tee-data"><%= tee.slope_rating_18 %></td>
    <!-- <td class="tee-data"><%= tee.front_9_rating %></td>
    <td class="tee-data"><%= tee.front_9_slope %></td>
    <td class="tee-data"><%= tee.back_9_rating %></td>
    <td class="tee-data"><%= tee.back_9_slope %></td>
    <td class="tee-data"><%= tee.bogey_rating %></td> -->
    <td class="tee-data"><%= tee.gender %></td>
  </tr>
  <% end %>
</table>
