<% provide(:title, @club.name) %>

<p class="pagetop-link-button">
  <%= link_to '<< Back to Club Listing', clubs_path, class: 'large-link' %>
</p>

<h2 class="inline-block"><%= @club.name %> - <%= @club.city %>, <%= @club.state %></h2>
<span class="inline-block edit-function"><%= link_to '&#9997;'.html_safe, edit_club_path(@club) %></span>
<!-- club#delete action removed due to potential issue with orphaned rounds -->

<div>
  <% if @club.tees.blank? %>
    No tees have been added to this club.
  <% else %>
    <%= render template: 'clubs/list_club_tees', locals: { club: @club } %>
  <% end %>
</div>

<span class="club-add-tee-button">
  <%= link_to 'Add a Tee', new_club_tee_path(@club) %>
</span>
