<% provide(:title, 'Log In') %>

<div class="center-parent">
  <h2 class="center">Welcome to SCW Golf App!</h2>
  <p class="large-link center">
    <span>NOTE: Username and Password are case-sensitive!</span>
  </p>
</div>

<%= form_for(:session, url: login_path) do |f| %>
<ul class="flex-outer">
  <li>
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.submit 'LOG IN' %>
  </li>
  <%= f.label :remember_me do %>
  <%= f.check_box :remember_me, class: 'regular-checkbox' %>
  <span class="text-without-width">
    <i class="fas fa-save"></i> Remember me on this device
  </span>
  <% end %>
  </ul>
<% end %>

<div class="center-parent">
  <p class="new-user center">
    New user? <%= link_to "Register Now", signup_path %>
  </p>
</div>