<% provide(:title, 'Log In') %>

<h2>Log In</h2>
<p>
  <span class="large-link">NOTE: Username and Password are case-sensitive!</span>
</p>

<%= form_for(:session, url: login_path) do |f| %>
<ul class="flex-outer">
  <li>
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.submit 'LOG IN' %>
  </li>

  <%= f.label :remember_me do %>
  <%= f.check_box :remember_me %>
  <span class="text-without-width">Remember me on this device</span>
  <% end %>
</ul>
<% end %>

<p>
  New user? <%= link_to "Register Now", signup_path %></p>
</p>
