<%= form_for(@user) do |f| %>
<ul class="flex-outer">
  <li>
    <%= render 'shared/error_messages' %>
  </li>
  <li>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </li>
  <li>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </li>
  <li>
    <%= f.label :password_confirmation, 'Confirmation' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </li>
  <li>
    <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @user %>
  </li>
</ul>
<% end %>
