<% provide(:title, @user.username) %>

<%= link_to 'Back to Homepage', root_url %>

<h2>Hi, <%= @user.username %>!</h2>

<div class="user-details">
  <p>
    Joined: <%= @user.date_added %>
  </p>
  <% if @user == current_user %>
    <p>
      <%= link_to add_round_path(@user) do %>
        <button>Add a New Round</button>
      <% end %>
    </p>
  <% end %>
  <p>
    Rounds Played:
  </p>
  <p>
    <ul>
      <% @user.rounds.each do |r| %>
        <li><%= r.adjusted_score %> on <%= r.tee.color %> at <%= r.tee.club.name %> (<%= r.date_played.strftime('%b %d, %Y') %>)</li>
      <% end %>
    </ul>
  </p>
</div>
