<%= link_to 'Back to Homepage', root_url %>

<h2>User Show Page for <%= @user.username %></h2>

<div class="user-details">
  <p>
    Username: <%= @user.username %>
  </p>
  <p>
    Email: <%= @user.email %>
  </p>
  <p>
    Joined: <%= @user.date_added %>
  </p>
</div>
