<nav class="site-nav">
  <div class="site-nav-container">
    <div class="site-nav-main">
      <h1 class="site-nav-logo">
        <%= link_to 'SCW App', root_url %>
      </h1>
    </div>
    <div class="site-nav-user">
      <% if logged_in? %>
        <%= link_to 'Club&nbsp;Listing'.html_safe, clubs_path, class: 'site-nav-item' %> |
        <%= link_to 'All&nbsp;Users'.html_safe, users_path, class: 'site-nav-item' %> |
        <%= link_to 'My&nbsp;Profile'.html_safe, current_user, class: 'site-nav-item' %> |
        <%= link_to 'My&nbsp;Settings'.html_safe, edit_user_path(current_user), class: 'site-nav-item' %> |
        <%= link_to 'Log&nbsp;Out'.html_safe, logout_path, class: 'site-nav-item' %>
      <% else %>
        <%= link_to 'Log&nbsp;In'.html_safe, login_path, class: 'site-nav-item' %>
      <% end %>
    </div>
  </div>
</nav>
